:root {
    --60_white: #ffffff;
    --30_black: #000000;
    --10_red: #E11717;
}

* {
    font-family: "Roboto", Calibri, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--30_black);
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: fit-content;
    justify-content: space-between;

    figure {
        flex: 0 1 7.5%;
        min-width: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    svg {
        flex: 0 1 10%;
        min-width: 100px;
        overflow: visible;

        circle {
            animation: jump-fade 1.5s infinite;
        }

        circle:nth-child(1) {
            animation-delay: 0s;
        }

        circle:nth-child(2) {
            animation-delay: 0.5s;
        }

        circle:nth-child(3) {
            animation-delay: 1s;
        }
    }
}

@keyframes jump-fade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main {
    background-color: var(--60_white);
    display: flex;
    flex-direction: column;
    padding: 200px 50px 100px;
    width: 100%;

    h1 {
        margin: 60px 0px 20px;
    }

    .project {
        display: flex;
        flex-direction: row;
        margin: 100px 0px;
        width: 100%;
        height: fit-content;
        justify-content: space-around;

        .project_view {
            display: flex;
            flex-direction: column;
            flex: 0 1 60%;
            border: 2px solid var(--10_red);
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            background-color: var(--60_white);

            img {
                width: 100%;
                height: 100%;
            }

            p {
                width: 100%;
                height: 100%;
                margin: 40px 0px;
                text-align: left;
            }

            a {
                text-align: center;
                background-color: var(--10_red);
                width: fit-content;
                align-self: flex-end;
                color: var(--60_white);
                text-decoration: none;
                padding: 7px 20px;
                border: 2px solid var(--30_black);
                border-radius: 5px;
                font-size: 1.5rem;
                transition: all 0.3s ease;
            }

            a:hover {
                transform: scale(1.05);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
                filter: brightness(1.1);
            }

            #text_variant {
                text-align: right;
            }

            #link_variant {
                text-align: center;
                align-self: flex-start;
            }
        }

        .project_view:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }

        .project_info {
            flex: 0 1 40%;
            transition: 0.5s;
            color: var(--60_white);
            background-color: var(--60_white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            box-sizing: border-box;
            cursor: help;
            font-size: 2rem;
            text-align: left;
            padding: 50px;

            h3 {
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                text-align: left;
            }
        }

        .project_info:hover {
            color: var(--30_black);
        }
    }

    #iframe_section {
        display: flex;
        flex-direction: row;
        height: 60vh;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 10px 0px 100px;

        .iframe {
            flex: 1 1 50%;
            height: 100%;
            text-align: center;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            p {
                margin-top: 10px;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    #aside_section {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;

        article {
            border: 2px solid var(--10_red);
            border-radius: 10px;
            margin: 20px 0px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0px 0px 10px;
            }

            p {
                margin: 10px 0px 20px;
            }

            a {
                background-color: var(--10_red);
                color: var(--60_white);
                text-decoration: none;
                padding: 7px 20px;
                border: 2px solid var(--30_black);
                border-radius: 5px;
                font-size: 1.2rem;
                width: fit-content;
                align-self: flex-end;
                transition: all 0.3s ease;
            }

            a:hover {
                transform: scale(1.05);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
                filter: brightness(1.1);
            }
        }
    }
}

footer {
    background-color: var(--30_black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    height: fit-content;
    position: relative;

    h1 {
        color: var(--60_white);
        flex: 0 1 17%;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2px;

        p {
            color: var(--10_red);
        }

        #cc0 {
            width: 10px;
            height: 10px;
            margin: 0px 5px;
        }
    }

    #brasil {
        width: 2%;
        align-self: flex-end;
    }
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 10px;
    }

    main {
        padding: 100px 10px 10px;

        h1 {
            margin: 50px 0px 10px;
        }

        .project {
            flex-direction: column;
            width: 100%;
            margin: 10px 0px;

            .project_view {
                flex: 0 1 100%;
                width: 100%;
            }

            .project_info {
                display: none;
            }
        }

        #iframe_section {
            flex-direction: column !important;
            height: fit-content !important;
            margin: 0px;

            .iframe {
                height: fit-content !important;
                margin: 30px 0px;

                iframe {
                    height: 70vh !important;
                }

                p {
                    margin: 0px;
                }
            }
        }
    }

    footer {
        flex-direction: column;

        h1 {
            flex: 0 1 30%;
            text-align: center;
            font-size: 1rem;
        }

        div {
            font-size: 60%;
        }

        #brasil {
            align-self: flex-end;
            width: 5%;
        }
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 24px;
    }

    main {
        max-width: 2400px;
        margin: 0 auto;
        padding: 250px 50px 100px;
    }

    header {
        padding: 0 50px;
        justify-content: space-between;

        figure {
            flex: 0 1 5%;
        }

        svg {
            display: none;
        }
    }

    .project {
        margin: 150px 0;

        .project_view {
            padding: 40px;

            a {
                font-size: 2rem;
                padding: 15px 40px;
            }
        }
    }
}