:root {
    --60_white: #ffffff;
    --30_black: #000000;
    --10_red: #E11717;
}

* {
    font-family: "Roboto", Calibri, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--30_black);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    position: fixed;
    height: fit-content;

    figure {
        flex: 0 1 7.5%;
        min-width: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    svg {
        flex: 0 1 1 0%;
        min-width: 100px;
    }
}

main {
    background-color: var(--60_white);
    display: flex;
    flex-direction: column;
    padding: 200px 50px 100px;

    h1 {
        margin: 30px 0px;
    }

    .project {
        display: flex;
        flex-direction: row;
        margin: 50px 0px;
        border: 1px solid black;
        width: 100%;
        height: fit-content;
        align-items: center;

        .project_view {
            display: flex;
            flex-direction: column;
            flex: 0 1 50%;

            img {
                width: 100%;
                height: 100%;
            }

            p {
                width: 100%;
                height: 100%;
                margin: 20px 0px;
                text-align: left;
            }

            a {
                text-align: right;
            }

            #text_variant {
                text-align: right;
            }

            #link_variant {
                text-align: left;
            }
        }

        .project_info_modal {
            display: none;
        }

        .project_info {
            flex: 0 1 50%;
            text-align: center;
            list-style-position: inside;
        }
    }

    #iframe_section {
        display: flex;
        flex-direction: row;
        height: 60vh;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 10px 0px 100px;

        .iframe {
            flex: 1 1 50%;
            height: 100%;
            text-align: center;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    #aside_section {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;

        article {
            border: 2px solid var(--10_red);
            margin: 20px 0px;

            h3 {
                margin: 20px 0px;
            }

            p {
                margin: 20px 0px;
            }

            a {
                margin: 20px 0px;
            }
        }
    }
}

footer {
    background-color: var(--30_black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    height: fit-content;
    position: relative;

    h1 {
        color: var(--60_white);
        flex: 0 1 17%;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2px;

        p {
            color: var(--10_red);
        }

        #cc0 {
            width: 10px;
            height: 10px;
            margin: 0px 5px;
        }
    }

    #brasil {
        width: 2%;
        align-self: flex-end;
        margin-bottom: 3px;
    }
}